<p>about works!</p>

<!-- <div *ngFor="let a  of as"> -->
<!-- {{aff?.name}} -->

<!-- </div> -->
<!-- 
<div *ngFor="let user of users let i=index" style="border:1px solid black">
    NO.{{i+1}}
    {{user.title}}<br><br>
    {{user.body}}<br><br>
</div> -->


<!-- <div *ngFor="let data of datas let i = index"> -->
  <!-- Name :{{data.name}} -->
  <!-- Email :{{data.email}} -->




<!-- 
  <table id="reviewer_table" class="table table-hover table-striped table-condensed tasks-table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th> -->
        <!-- <th scope="col">Handle</th> -->
      <!-- </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
      </tr>

    </tbody>
  </table> -->

<!-- </div> -->
<!--- index.html -->