<div class="container">
    <form [formGroup]="update" (ngSubmit)="update_form(update)">
        <div class="form-group my-3">
            <label for="exampleInputEmail1">Enter the register phone number</label>
            <input type="contact" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter password" formControlName="contact">
            <small *ngIf ="update.get('password').invalid && status">Kindly fill your password carefully</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>